.auth-form {
    background-color: #cde4f3;
    border-radius: 8px;
    padding: 20px;
  }
  
  .h2 {
    color: #333;
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  input {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px
  }
  
   .btn {
    background-color: #333;
    color: #fff;
    font-size: 16px;
    padding: 10px;
    border-radius: 4px;
  }
  